#nav-bar {
  color: #e8fdff;
  background-color: #00a087;
  height: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px; 
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  line-height: 2.5em;
  font-size: 2em;
  font-weight: lighter;
  float: left;
}