main {
  border: 2em;
  padding-top: 70px;
  padding-bottom: 140px;
  margin-top: 35px;
}

textarea {
  width: 100%;
  padding: 4px;
}

.counter {
  float: right;
  font-style: italic;
  padding-right: 5px;
  font-size: .9em;
  margin-top: 7px;
}

.counter.overLimit {
  color: red;
}

.new-tweet {
  background: rgba(170, 170, 170, 0.29);
  padding: 20px;
  border: 1px #aaa solid;
  border-radius: 10px;
}

.new-tweet h2 {
    border-bottom: 2px solid #244751;;
}

